{% extends 'layout.html' %} {% block content %} {% load static %}

<section class="section-container">
  <a href="" target="_blank">
    <img src="{% static 'porfolio/avatar.jpg' %}" alt="avatar" class="avatar" />
  </a>

  <div class="m-4">
    <h1>My name is Juan Osorio<b></b></h1>
    <h3>I am Backend developer!</h3>
    <p>
      <br>
      I am a passionate Backend developer with a year and a half of experience in creating robust and efficient applications. My main focus is designing and maintaining the business logic and infrastructure that supports web applications. My experience ranges from planning, creating, and maintaining REST APIs, relational/NoSQL databases, and Cloud services.
    </p>

  </div>
</section>

<section class="p-3 h-100 d-flex flex-column justify-content-between">
  <div class="text-center">
    <h1><span class="badge bg-primary">My Projects</span></h1>
  </div>

  <div class="projects-container">
    {% for project in projects %}
    <div class="card bg-dark">
      <div class="card-img-container border-bottom border-light">
        <img src="{{ project.image.url }}" alt="{{project.title}}" class="card-img-top w-50" />
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text card-description">{{ project.description }}</p>

        {% if project.url %}
        <a href="{{ project.url }}" class="btn btn-primary" target="_blank">Watch repository</a>
        {% endif %}
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</section>